<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | E-Shopper</title>

    @* <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet"> *@

    <link href="/templateAssets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/templateAssets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/templateAssets/css/prettyPhoto.css" rel="stylesheet">
    <link href="/templateAssets/css/price-range.css" rel="stylesheet">
    <link href="/templateAssets/css/animate.css" rel="stylesheet">
	<link href="/templateAssets/css/main.css" rel="stylesheet">
	<link href="/templateAssets/css/responsive.css" rel="stylesheet">
	<link href="/templateAssets/css/profileCard.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="/templateAssets/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/templateAssets/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/templateAssets/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/templateAssets/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/templateAssets/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
    
	<header id="header"><!--header-->
		<div class="header_top" style="background-image:url('/templateAssets/images/111.jpg')"><!--header_top-->
			<div class="container">
				<div class="row" >
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a asp-controller="home" asp-action="index"><img src="/templateAssets/images/home/logo.png" alt="" /></a>
						</div>
						<div class="btn-group pull-right">
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
									USA
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">Canada</a></li>
									<li><a href="#">UK</a></li>
								</ul>
							</div>
							
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
									DOLLAR
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">Canadian Dollar</a></li>
									<li><a href="#">Pound</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li><a a asp-controller="Account" asp-action="Signin"><i class="fa fa-user"></i> Account / Cart</a></li>
								<li><a href="#"><i class="fa fa-star"></i> Wishlist</a></li>
								<li><a id="logInOut" asp-controller="Account" asp-action="LogOut"><i class="fa fa-lock"></i> Log In/Out</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-8">
						
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a asp-controller="home" asp-action="index" class="active">Home</a></li>
								<li class="dropdown"><a asp-controller="product" asp-action="index">Shop</a></li> 
								<li><a asp-controller="home" asp-action="contact">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						
					</div>

				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->

	
	
	
	
	

    <!--RenderBody-->
        @RenderBody()
    <!--/RenderBody-->
	

	
	<footer id="footer"><!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="companyinfo" >
							<h2><span>e</span>-shopper</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor</p>
						</div>
					</div>
					<div class="col-sm-7">
						
						
						
					</div>
					<div class="col-sm-3">
						<div class="address">
							
							<p>505 S Atlantic Ave Virginia Beach, VA(Virginia)</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>
					<p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
				</div>
			</div>
		</div>

		
				
	</footer><!--/Footer-->

	
	
    @* <script src="/lib/jquery/jquery.min.js"></script> *@
  
    <script src="/templateAssets/js/jquery.js"></script>
	<script src="/templateAssets/js/bootstrap.min.js"></script>
	<script src="/templateAssets/js/jquery.scrollUp.min.js"></script>
	<script src="/templateAssets/js/price-range.js"></script>
    <script src="/templateAssets/js/jquery.prettyPhoto.js"></script>
    <script src="/templateAssets/js/main.js"></script>
			

</body>
</html>